.cofe {
  @include MarginTop;
}

.cofe__info {
  background-color: var(--BgcoCorBrend);
  border-radius: 10px;
}

.cofe__heading {
  @include Heading;
}

.cofe__about {
  @include info;
}

.cofe__text {
  @include Text;
}

.cofe__imges {
  position: absolute;
  margin-top: -670px;
  margin-left: 760px;
}

.cofe__btn {
 @include Button;
}
